.flex {
  display: flex;
  margin: 5px 0px 25px 0px;
}

.flex-item {
  flex-grow: 1;
  text-align: center;
}

.card {
  border: 1px solid gray;
  border-radius: 2px;
  width: 12rem;
  margin: 5px;
}

.card-img-top {
  width: 100%;
}

.card-body {
  padding: 10px;
  text-align: center
}

body {
  padding: 0px 75px;
}

.links {
  padding: 25px;
  background-color: gray;
  text-align: right;
}

.link {
  margin-right: 50px;
  text-decoration: none;
  color: white;
}

.nav-bar-title {
  float: left;
  height: 40px;
  margin: 13px 5px 13px 13px;
  color: white;
  font-size: 40px
}

.button-link {
  text-decoration: none;
  color: black;
}

.space-above {
  margin-top: 25px;
}